<div class="cuerpo mt-5">
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">
            <i class="fab fa-github mr-2" style="font-size: 35px;"></i>
            <i class="fas fa-envelope mr-2" style="font-size: 35px;"></i>
            <i class="fab fa-linkedin" style="font-size: 35px;"></i>
           
        </div>
        <div class="text-center">
            <p> © 2020 Copyright: Abraham Romero</p>
        </div>
    </footer>
</div>